@use "../abstracts/" as *;

.regions-card {
  border-color: $color-primary-light;
  cursor: pointer;
  transition:
    transform 0.3s,
    box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    /* box-shadow recibe hasta 5 propiedades */
    /* desplazamiento-x desplazamiento-y desenfoque propagacion color */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  }

  &__image {
    height: 200px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__current-climate {
    font-weight: weight(bold);
    line-height: 1;
    @include flex-center(row, baseline);
    justify-content: space-between;
  }

  &__min-max {
    @include flex-center(row, baseline);
    justify-content: space-between;
  }
}
